<meta charset="utf-8"/>
<textarea name="txt" id="system-tpl-1" style="display:none;">
    <div class="g-bd">
        <div class="g-sd">
            <ul class="m-nav">
                <li class="j-nav">
                    <a href="#/m/account/profile/">我的账号</a>
                </li>
                <li class="j-nav">
                    <a href="#/m/order/">我的订单</a>
                </li>
            </ul>
        </div>
        <div class="g-mn">
            <div class="g-top">
                这是头部
            </div>
            <div class="g-mnt">
            </div>
        </div>
    </div>
</textarea>
<textarea name="js" data-src="./index.js"></textarea>
