<#include "/template/header.ftl">
<head>
<#include "/template/meta.ftl">
<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
only has body tag
<img src="../img/apic19968.jpg" alt="png">
<img src="../img/img.png" alt="img">
</body>